@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shareds styles*/

.display-flex{
    display: flex;
}
.darker-color{
    color: rgba(19, 19, 19, 1);
}
.dark-color{
    color: rgba(66, 66, 66, 1);
}
.lighter-color{
    color: rgba(114, 114, 114, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
}

/* header*/

/*navbar*/
.navbar, .banner{
    max-width: 1340px;
    margin: 0px auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.link-items li{
    list-style: none;
    font-size: 1.125rem;
    font-weight: 500;
}
.link-item{
    text-decoration: none;
}
.link-item{
    margin-right: 30px;
}
.brand{
    font-size: 2.82rem;
    font-weight: 700;
}
/* banner*/

.banner-content{
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.banner-img{
    width: 100%;
}
.banner-content{
    margin-bottom: 50px;
}

/* responsive */
@media screen and (max-width:576px) {
    .navbar,.link-items{
        flex-direction: column;
    }
    .link-item{
        margin-bottom: 30px;
    }

}